/*Estilos da pagina index.html*/
.center{
    text-align: center;
   }
.justify{
    text-align: justify;
}
.center2{
    font-size: 20px;
}
.center3{
    font-size: 20px;
    justify-content: right;
}
.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#menu li{
    display: inline;
    padding: 15px;
 }
#menu li a{ 
    text-decoration: none;
    color: darkred;
    font-size: 20px;
}
#menu li a:hover{
    color: black;
}
.p-30{
    padding: 30px;
}
.br-50{
    border-radius: 50%;
}
.wh-300{
    width: 300px;
    height: 300px;
}
.tm-social{
    width: 30px;
    height: 30px;

}
.mb-50{
    margin-bottom: 50px;
}

/*Estilos da pagina contato.html*/
.ml-50{
    margin-left: 50px;
}
